# Java / Gradle
.gradle/
build/
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

# Node / React Native
node_modules/
npm-debug.log
yarn-error.log
.expo/
*.jsbundle
*.tsbuildinfo

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
*.pem

# Stripe / Twilio
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Kubernetes
*.kubeconfig

# React Native
mobile-passenger/ios/Pods/
mobile-passenger/android/.gradle/
mobile-passenger/android/app/build/

# Build artifacts
dist/
*.tgz
*.tar.gz
